#Files and folders specified here will never be tracked.

*.ban
*.bdb
*.log
*.sav
data\investigate

#Compiled files and other files generated during compilation.
*.dmb
*.rsc
*.lk
*.int
*.exe
data/investigate/singulo.html
